/* =====================================================
   PT TRANS FANY GARUDA CORPORATION
   VARIABLES.CSS
===================================================== */

:root{

    /* =================================================
       COLOR
    ================================================= */

    --primary:#0A84FF;

    --primary-hover:#0066CC;

    --gold:#D4AF37;

    --black:#050608;

    --dark:#101114;

    --white:#FFFFFF;

    --text:#D6D6D6;

    --text-light:#A5A5A5;

    --border:rgba(255,255,255,.08);

    /* =================================================
       TYPOGRAPHY
    ================================================= */

    --font:
    "Poppins",
    Arial,
    sans-serif;

    /* =================================================
       LAYOUT
    ================================================= */

    --container:1400px;

    --radius:18px;

    --shadow:
    0 15px 35px rgba(0,0,0,.35);

    --transition:.3s ease;

    /* =================================================
       HERO IMAGE
    ================================================= */

    --hero:
    url("../1images/hero.png");

}